@page
@model IndexModel
@{
    ViewData["Title"] = "Livestock Information Services Samples - Webapp";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

</div>

<div class="row">
</div>